@font-face {
    font-family: "MonaSans";
    src: url("Mona-Sans.woff2") format("woff2 supports variations"),
        url("Mona-Sans.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: "DeathCrow";
    src: url("DEATHCROW.ttf");
}

@font-face {
    font-family: "ProtoMono";
    src: url("ProtoMono-Regular.ttf");
}

@font-face {
    font-family: "HyperMarket";
    src: url("Hypermarket-Regular.ttf");
}

@font-face {
    font-family: "HyperMarketExp";
    src: url("Hypermarket-Exp.ttf");
}


* {
    font-family: HyperMarket;
    color: white;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* 
    font-stretch: ultra-expanded; */

    margin: 0;
    padding: 0;
}

body {
    background-color: black;

    margin-top: 5em;
    margin-bottom: 5em;

    /* margin-left: 15em;
    margin-right: 15em; */
}

.header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header h1 {
    font-family: DeathCrow;
    font-size: 7em;
    font-weight: 200;

    text-transform: uppercase;
    text-shadow: 20px 0px 10px rgba(255, 255, 255, 0.2),
        -20px 0px 10px rgba(255, 255, 255, 0.2);
}

a {
    font-size: 0.7em;
    /* font-weight: bold; */
    color: rgba(255, 255, 255, 0.6);
}

p {
    line-height: 1.5em;
}

.header {
    text-transform: uppercase;
}

.header > div {
    margin-top: 2em;
}

.header > div > a:not(:first-child) {
    margin-left: 5em;
}

.header > div > a:not(:first-child):not(:last-child) {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.2s;
}

.header > div > a:not(:first-child):not(:last-child):hover {
    color: rgba(255, 255, 255, 1);
    transition: 0.2s;
}

.header > div > a:first-child,
.header > div > a:last-child {
    text-shadow: 5px 0px 5px rgba(255, 255, 255, 1),
        -5px 0px 5px rgba(255, 255, 255, 1);
}

.body-content {
    margin-left: 30em;
    margin-right: 30em;
    margin-top: 5em;
    
}

.body-content > *:not(:first-child) {
    margin-top: 5em
}

.body-content p {
    font-family: HyperMarketExp;
    /* font-style: italic; */
    /* font-weight: 100; */
    
}

.center {
    text-align: center;
}

.greyed-out {
    color: rgba(255, 255, 255, 0.4);
}

.section-title {
    font-size: 1em;
}

.section-text {
    font-size: 0.7em;
    text-align: justify;
    text-justify: inter-word;
}

.content-section > *:not(:first-child) {
    margin-top: 2.5em;
}

.content-prev {
    text-justify: inter-word;
    font-size: 0.7em;
    font-style: italic;
}

.bold {
    font-weight: bold;
}